h1{
  margin-bottom: 100px;
}
h2{
  margin-bottom: 100px;
}
.lorem{
  width: 50%;

  margin: auto;
  padding: 10px;
}
form{
  margin-bottom: 100px;
  font-size: 1.5em;
}
body{
  font-family: monospace;
  background-color: #001e63;
  border: 30px solid #9ef3f7;
  border-top: 0px;
  color: white;
  margin: 0px;
  text-align: center;
}
#submit{
  background-color: #f7cb1b;
  width: 140px;
  height: 60px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 12px;
}
